/* _mixins.scss */

@mixin transition($property: all, $duration: 0.3s, $easing: ease-out, $delay: 0s) {
	-webkit-transition: $property $duration $easing $delay;
	-ms-transition: $property $duration $easing $delay;
	-o-transition: $property $duration $easing $delay;
	transition: $property $duration $easing $delay;
}

@mixin center($left: 0, $right: 0) {
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: $left;
	right: $right;
}

@mixin circle($size: 15px, $color: black) {
	width: $size;
	height: $size;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	border: 1px solid fade-out($color, 0.5);
}