/* _mixins.scss */
body {
  background-color: #b8e0d0; }

#logo {
  background-color: #b8e0d0;
  position: relative; }
  #logo h1 {
    visibility: hidden; }
  #logo img {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 60%; }

.editable {
  position: relative;
  overflow: hidden; }
  .editable .edit {
    position: absolute;
    top: -20px;
    right: 10px;
    -webkit-transition: all 0.2s ease-out 0.5s;
    -moz-transition: all 0.2s ease-out 0.5s;
    -ms-transition: all 0.2s ease-out 0.5s;
    -o-transition: all 0.2s ease-out 0.5s;
    transition: all 0.2s ease-out 0.5s; }
  .editable:hover .edit {
    top: 5px;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -ms-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s; }

.project {
  height: 100%; }

.slides {
  height: 100%; }
  .slides .slide {
    display: inline-block;
    vertical-align: middle;
    position: relative; }
    .slides .slide img {
      max-height: 100%;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }

.slides .bio-content .bio-body {
  text-align: justify; }

.debug section {
  border: 1px solid #b7e0cf;
  background-color: rgba(184, 224, 208, 0.2); }
.debug .slide {
  background-color: #e0b7c7;
  border: 1px solid #deb4c5; }
