/* _mixins.scss */
.editable {
  position: relative;
  overflow: hidden; }
  .editable .edit {
    position: absolute;
    top: -20px;
    right: 10px;
    -webkit-transition: all 0.2s ease-out 0.5s;
    -moz-transition: all 0.2s ease-out 0.5s;
    -ms-transition: all 0.2s ease-out 0.5s;
    -o-transition: all 0.2s ease-out 0.5s;
    transition: all 0.2s ease-out 0.5s; }
  .editable:hover .edit {
    top: 5px;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -ms-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s; }
