@import 'fonts';
@import 'mixins';

$tablet: "(min-width: 767px)";
$theme-color: #b8e0d0;

body{
	font-family: 'graphikblack';
	@include transition($property: background-color, $duration: 1s);
	background-color: white;
	&.initial-state{
		background-color: $theme-color;
	}
}

#main{
	@include transition($duration: 0.8s);
	.info-open &, .nav-open &{
		-webkit-filter: blur(6px);
	    
	    opacity: 0.4;
	}
}
#logo{
	background-color: $theme-color;
	position: relative;
	h1{
		visibility: hidden;
	}
	img{
		@include center();
		max-width: 80%;
	}
}


.editable{
	position: relative;
	overflow: hidden;
	.edit{
		position: absolute;
		top: -20px;
		right: 10px;
		@include transition($duration: 0.2s, $delay: 0.5s);
		z-index: 10;
	}

	&:hover .edit{
		top: 5px;
		@include transition($duration: 0.2s);
	}
}

//----------------sliders
.project{
	height: 100%;
}

.slides{
	height: 100%;
	white-space: nowrap;
	.slide{
		white-space: normal;
		display: inline-block;
		vertical-align: middle;
		position: relative;
		height: 100%;
		float: left;
		img{
			max-height: 100%;
			@include center();
			
		}
	//------------------text slides
	&.slide-text{
		position: relative;
		.slide-text-wrapper{
			width: 70%;
			@include center();
			margin: auto;
			text-align: justify;
			height: 90%;
			overflow: hidden;
			&:after, &:before{
				content: '';
				width: 100%;
				height: 80px;
				position: absolute;
				
				&:before{
					top: 0;
					content: '';
					background-image: -webkit-gradient(
						linear,
						left bottom,
						left top,
						color-stop(0, transparent),
						color-stop(1, #FFFFFF)
						);
					background-image: -o-linear-gradient(bottom, transparent 0%, #FFFFFF 100%);
					background-image: -moz-linear-gradient(bottom, transparent 0%, #FFFFFF 100%);
					background-image: -webkit-linear-gradient(bottom, transparent 0%, #FFFFFF 100%);
					background-image: -ms-linear-gradient(bottom, transparent 0%, #FFFFFF 100%);
					background-image: linear-gradient(to bottom, transparent 0%, #FFFFFF 100%);
				}
			}
			&:after{
				content: '';
				bottom: 0;
				background-image: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(0, transparent),
					color-stop(1, #FFFFFF)
					);
				background-image: -o-linear-gradient(bottom, transparent 0%, #FFFFFF 100%);
				background-image: -moz-linear-gradient(bottom, transparent 0%, #FFFFFF 100%);
				background-image: -webkit-linear-gradient(bottom, transparent 0%, #FFFFFF 100%);
				background-image: -ms-linear-gradient(bottom, transparent 0%, #FFFFFF 100%);
				background-image: linear-gradient(to bottom, transparent 0%, #FFFFFF 100%);
			}
		}
		.page-controls{
			position: absolute;
			background: rgba(255,255,255,0.8);
			bottom: 0px;
			right: 0px;
			z-index: 1;

			.control{
				cursor: pointer;
				width: 35px;
				height: 35px;
				padding: 0px 5px;
				font-size: 1.8em;
				line-height: 1.3em;
				text-align: center;
				display: inline-block;

			}
		}
		.html-content{
			display: block;
		}
	}
}

}

navigation{
	z-index: 10;
	.nav-trigger 
	{
		@media #{$tablet}{
			display: none;
		}
		
		cursor: pointer;
		position: fixed;
		z-index: 100;
		top: 50%;
		right: 0%;
		width: 40px;
		height: 40px;

		@include transition($duration: 0.3s, $delay: 0.3s);
		.nav-open & {
			@include transition($duration: 0.3s);
			background-color: transparent;
			right: 85%;
		}
		$bar-thickness: 2px;
		$bar-width: 20px;
		$bar-color: black;
		span {
			display: block;
			width: $bar-width;
			height: $bar-thickness;
			margin-top: -2px;
			background-color: $bar-color;
			font-size: 0px;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			@include transition($duration: 0.3s);
			
			&:before,
			&:after {
				position: absolute;
				left: 0;
				width: $bar-width;
				height: $bar-thickness;
				background: $bar-color;
				content: '';
				-webkit-transition: -webkit-transform 0.3s;
				transition: transform 0.3s;
			}
			&:before {
				-webkit-transform: translateY(-250%);
				transform: translateY(-250%);
			}
			&:after {
				-webkit-transform: translateY(250%);
				transform: translateY(250%);
			}
			.nav-open & {
				background-color: transparent;

				&:before {
					-webkit-transform: translateY(0) rotate(45deg);
					transform: translateY(0) rotate(45deg);
				}

				&:after {
					-webkit-transform: translateY(0) rotate(-45deg);
					transform: translateY(0) rotate(-45deg);
				}
			}
		}
	}




	

	.initial-state &{
		opacity: 0;
	}
	.ready-state &{
		@include transition($delay: 0s);
	}
	
	.pagination-wrapper{
		color: black;
		position: fixed;
		top: 50%;
		opacity: 1;
		@include transition($delay: 0.3s);
		display: inline-block;
		z-index: 10;
		right: -100%;
		.nav-open &{
			@include transition($delay: 0s);
			right: 15px;
		}
		@media #{$tablet}{
			right: 10px;
		}
		.faded &{
			opacity: 0.6;
		}

		.vert-pagination{
			.vert-pager{
				.info-open &{
					visibility: hidden;
				}
				background-repeat: no-repeat;
				background-size: contain;
				background-position: right;
				margin-bottom: 10px;
				cursor: pointer;
				text-align: right;
				.icon{
					width: 30px;
					opacity: 0.7;
					&:hover{
						opacity: 1;
					}
				}
				&:before, .title{
					@include transition();
					content: attr(data-title);
					font-weight: bold;
					padding: 10px 10px;
					white-space: no-wrap;
					text-align: right;
					margin-right: 0px;
					@media #{$tablet}{
						opacity: 0;
						margin-right: -5px;
					}
					&:before, .icon, .title{
						display: inline-block;
						vertical-align: middle;
						float: right;

					}
				}
				&:hover:before, &.active:before{
					margin-right: 15px;
					@media #{$tablet}{
						opacity: 0.8;
						width: auto;
						margin-right: 5px;

					}
				}
			}
		}
	}
}



//------------------info
#info-pager{
	float: right;
	cursor: pointer;
	@media #{$tablet}{
		margin: 0px 5px;
		font-size: normal;
	}
	font-size: x-large;
	margin: 0 10px;
	z-index: 10;
}
#info{
	#info-wrapper{
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 100%;
		text-align: center;
		background: rgba(255,255,255,0.6);
		z-index: 15;
		@include transition($property: opacity, $duration:0.8s);
		opacity: 0;
		
		.info-open &{
			opacity: 1;
			left: 0%;
		}
		.info-content{
			@include center();
			height: 70%;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			
			.info-map img{
				max-width: 100%;
				height: auto;
			}
			.info-details, .info-map{
				display: inline-block;
				padding: 1em 2em;
				height: 50%;
				@media #{$tablet}{
					height: auto;
				}
			}
			@media #{$tablet}{
				display: inline-flex;
				width: 90%;
				.info-map, .info-details{
					padding: 0 2em;
					float: right;
					margin: auto;
					display: inline-flex;
					width: 50%;
				}
				.info-details{
					text-align: left;
					height: auto;
				}
			}
		}

	}
}
//------------------dev
$debug-color: $theme-color;
.debug{
	section{
		border: 1px solid darken($debug-color, 0.3);
		background-color: fade-out($debug-color, 0.8)
	}
	.slide{
		background-color: darken(complement($debug-color), 0.3);
		border: 1px solid darken(complement($debug-color), 1);
	}
}