/* _mixins.scss */
body, #logo {
  -webkit-transition: all 1s ease-out 0s;
  -moz-transition: all 1s ease-out 0s;
  -ms-transition: all 1s ease-out 0s;
  -o-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
  background-color: white; }
  body.initial-state, body.initial-state, #logo.initial-state, #logo.initial-state {
    background-color: #b8e0d0; }

#main {
  -webkit-transition: all 0.8s ease-out 0s;
  -moz-transition: all 0.8s ease-out 0s;
  -ms-transition: all 0.8s ease-out 0s;
  -o-transition: all 0.8s ease-out 0s;
  transition: all 0.8s ease-out 0s; }
  .info-open #main {
    -webkit-filter: blur(4px); }
  .nav-open #main {
    -webkit-filter: blur(4px); }
    @media (min-width: 767px) {
      .nav-open #main {
        -webkit-filter: none; } }

#logo {
  background-color: #b8e0d0;
  position: relative; }
  #logo h1 {
    visibility: hidden; }
  #logo img {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 60%; }

.editable {
  position: relative;
  overflow: hidden; }
  .editable .edit {
    position: absolute;
    top: -20px;
    right: 10px;
    -webkit-transition: all 0.2s ease-out 0.5s;
    -moz-transition: all 0.2s ease-out 0.5s;
    -ms-transition: all 0.2s ease-out 0.5s;
    -o-transition: all 0.2s ease-out 0.5s;
    transition: all 0.2s ease-out 0.5s;
    z-index: 10; }
  .editable:hover .edit {
    top: 5px;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -ms-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s; }

.project {
  height: 100%; }

.slides {
  height: 100%;
  white-space: nowrap; }
  .slides .slide {
    white-space: normal;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 100%;
    float: left; }
    .slides .slide img {
      max-height: 100%;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
    .slides .slide.slide-text {
      position: relative; }
      .slides .slide.slide-text .slide-text-wrapper {
        width: 70%;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        text-align: justify;
        height: 90%;
        overflow: hidden; }
        .slides .slide.slide-text .slide-text-wrapper:after, .slides .slide.slide-text .slide-text-wrapper:before {
          content: '';
          width: 100%;
          height: 20px;
          position: absolute; }
          .slides .slide.slide-text .slide-text-wrapper:after:before, .slides .slide.slide-text .slide-text-wrapper:before:before {
            top: 0;
            content: '';
            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, transparent), color-stop(1, white));
            background-image: -o-linear-gradient(bottom, transparent 0%, white 100%);
            background-image: -moz-linear-gradient(bottom, transparent 0%, white 100%);
            background-image: -webkit-linear-gradient(bottom, transparent 0%, white 100%);
            background-image: -ms-linear-gradient(bottom, transparent 0%, white 100%);
            background-image: linear-gradient(to bottom, transparent 0%, white 100%); }
        .slides .slide.slide-text .slide-text-wrapper:after {
          content: '';
          bottom: 0;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(1, white));
          background-image: -o-linear-gradient(bottom, transparent 0%, white 100%);
          background-image: -moz-linear-gradient(bottom, transparent 0%, white 100%);
          background-image: -webkit-linear-gradient(bottom, transparent 0%, white 100%);
          background-image: -ms-linear-gradient(bottom, transparent 0%, white 100%);
          background-image: linear-gradient(to bottom, transparent 0%, white 100%); }
      .slides .slide.slide-text .page-controls {
        position: absolute;
        background: rgba(255, 255, 255, 0.8);
        bottom: 0px;
        right: 0px; }
        .slides .slide.slide-text .page-controls .control {
          width: 35px;
          height: 35px;
          padding: 0px 5px;
          font-size: 1.8em;
          line-height: 1.3em;
          text-align: center;
          display: inline-block;
          z-index: 1; }
      .slides .slide.slide-text .html-content {
        display: block; }

navigation {
  z-index: 10; }
  navigation .nav-trigger {
    position: fixed;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 50%;
    z-index: 15;
    cursor: pointer !important;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out 0.3s;
    -moz-transition: all 0.3s ease-out 0.3s;
    -ms-transition: all 0.3s ease-out 0.3s;
    -o-transition: all 0.3s ease-out 0.3s;
    transition: all 0.3s ease-out 0.3s; }
    navigation .nav-trigger:after {
      content: '';
      border-right: #b8e0d0 solid 15px;
      border-top: transparent solid 10px;
      border-bottom: transparent solid 10px;
      display: inline-block; }
    .nav-open navigation .nav-trigger {
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
      right: 90%;
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      transform: rotateY(180deg); }
    @media (min-width: 767px) {
      navigation .nav-trigger {
        display: none; } }
  .initial-state navigation {
    opacity: 0; }
  .ready-state navigation {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
  navigation .pagination-wrapper {
    color: #b8e0d0;
    position: fixed;
    top: 50%;
    opacity: 1;
    -webkit-transition: all 0.3s ease-out 0.3s;
    -moz-transition: all 0.3s ease-out 0.3s;
    -ms-transition: all 0.3s ease-out 0.3s;
    -o-transition: all 0.3s ease-out 0.3s;
    transition: all 0.3s ease-out 0.3s;
    display: inline-block;
    z-index: 10;
    right: -100%; }
    .nav-open navigation .pagination-wrapper {
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
      right: 15px; }
    @media (min-width: 767px) {
      navigation .pagination-wrapper {
        right: 10px; } }
    .faded navigation .pagination-wrapper {
      opacity: 0.6; }
    navigation .pagination-wrapper .vert-pagination .vert-pager {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
      margin-bottom: 5px;
      height: 30px;
      cursor: pointer; }
      navigation .pagination-wrapper .vert-pagination .vert-pager:after {
        content: attr(data-title);
        display: inline;
        float: right;
        text-align: right; }
        @media (min-width: 767px) {
          navigation .pagination-wrapper .vert-pagination .vert-pager:after {
            opacity: 0; } }
      @media (min-width: 767px) {
        navigation .pagination-wrapper .vert-pagination .vert-pager:hover:after, navigation .pagination-wrapper .vert-pagination .vert-pager.active:after {
          opacity: 1; } }
      navigation .pagination-wrapper .vert-pagination .vert-pager:before {
        content: '';
        margin: 3px 10px;
        float: right;
        -webkit-transition: all 0.1s ease-out 0s;
        -moz-transition: all 0.1s ease-out 0s;
        -ms-transition: all 0.1s ease-out 0s;
        -o-transition: all 0.1s ease-out 0s;
        transition: all 0.1s ease-out 0s;
        width: 20px;
        height: 20px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid rgba(184, 224, 208, 0.5);
        background-color: #b8e0d0;
        display: inline;
        position: relative;
        top: 2.5px;
        left: 0; }
      navigation .pagination-wrapper .vert-pagination .vert-pager.active:before, navigation .pagination-wrapper .vert-pagination .vert-pager:hover:before {
        width: 15px;
        height: 15px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid rgba(184, 224, 208, 0.5);
        background-color: transparent;
        top: 0;
        left: 2.5px; }
      @media (min-width: 767px) {
        navigation .pagination-wrapper .vert-pagination .vert-pager:before {
          width: 5px;
          height: 5px;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          border: 1px solid rgba(184, 224, 208, 0.5); }
        navigation .pagination-wrapper .vert-pagination .vert-pager.active:before, navigation .pagination-wrapper .vert-pagination .vert-pager:hover:before§ {
          width: 15px;
          height: 15px;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          border: 1px solid rgba(184, 224, 208, 0.5); } }

#info-pager {
  float: right;
  font-size: large;
  margin: 0 10px;
  z-index: 15; }
  @media (min-width: 767px) {
    #info-pager {
      margin: 0px 5px;
      font-size: normal; } }

#info #info-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  z-index: 10;
  -webkit-transition: opacity 0.8s ease-out 0s;
  -moz-transition: opacity 0.8s ease-out 0s;
  -ms-transition: opacity 0.8s ease-out 0s;
  -o-transition: opacity 0.8s ease-out 0s;
  transition: opacity 0.8s ease-out 0s;
  opacity: 0; }
  .info-open #info #info-wrapper {
    opacity: 1;
    left: 0%; }
  #info #info-wrapper #info-content {
    margin-top: 25px;
    height: 70%; }

.debug section {
  border: 1px solid #b7e0cf;
  background-color: rgba(184, 224, 208, 0.2); }
.debug .slide {
  background-color: #e0b7c7;
  border: 1px solid #deb4c5; }
