
<div class="top-swiper-container" swiper-ctrl="vert" my-fullscreen="y" ng-controller="mainCtrl" ng-class="{'info-open': infoOpen, 'nav-open': navOpen}">
  <navigation ng-controller="infoCtrl">
    <div id="info">
        <div id="info-wrapper" my-info="data.info" ng-click="toggleInfo()">
        </div>

      
  </div>
  <div class="nav-trigger" ng-click="toggleNav();"><span></span></div>
  <div class="pagination-wrapper">
    <span class="pager" id="info-pager" ng-click="toggleInfo()"></span>
  </div>
    
</navigation>
  <div id="main" class="swiper-wrapper">
    <section id="logo" class="slide-vert" my-fullscreen="y" data-name="" data-icon="">
      <h1>CollinFontaine</h1>
        <img src="http://cf.vbbros.net/sites/all/themes/angupal/app/images/collin_Fontaine.svg" alt="" class="img-responsive">
    </section>
    <section id="masai" class="slide-vert" my-fullscreen="y" data-name="{{data.masai.title}}" data-icon="{{data.masai.icon}}">
      <div my-project="data.masai"></div>
    </section>
    <section id="bio" class="slide-vert" ng-controller="officeCtrl" swiper-ctrl="horz" my-fullscreen="y" data-name="Bio" data-icon="images/cv.png">
      <div class="slides swiper-wrapper">
        <div class="slide slide-horz slide-text" my-bio="data.didier"></div>
        <div class="slide slide-horz slide-text" swiper-slide="last" my-bio="data.blaise"></div>
      </div>
    </section>
    <section swiper-slide ng-repeat="project in data.projects" id="projects" class="slide-vert" data-name="{{project.node.title}}" data-icon="{{project.node.icon}}">
        <div my-project="project.node" my-fullscreen="y"></div>
    </section>
  </div>
  
</div>


