<div class="project slide-vert" data-icon="project.icon" swiper-ctrl="horz">
		<div drupal-edit="project.nid"></div>
		<div class="slides swiper-wrapper">
			<div class="slide slide-horz">
					<img ng-src="{{project.imgs | first}}" class="img-responsive">
			</div>
			<div ng-if="project.body.length > 1" class="slide slide-text slide-horz">
				<div class="slide-text-wrapper" my-msultipage>
					<div class="project-body slide-body" my-html="project.body" ></div>
				</div>
			</div>
			<div class="slide slide-horz" swiper-slide my-fullscreen="x" ng-repeat="slide in project.imgs | notFirst">
					<img ng-src="{{slide}}" class="img-responsive"/>
			</div>
		</div>
</div>
